/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#bigmap {
    height: 100%;
}
#bigmap .marker-alert {
  border: red 5px dashed;
  top: -5px;
  left: -5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .snumber-icon {
  font-weight: bold;
  font-size: 5px;
  white-space: nowrap;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .coord-icon {
  font-size: 13px;
  text-shadow: 3px 3px 3px #000000;
  color: #ffffff;
  font-weight: bold;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor.alert {
  border: 2px solid red;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor span {
  display: block;
  text-align: center;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor .name {
  font-weight: bold;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor .wind {
  font-size: 18px;
}
#bigmap .leaflet-map-pane .leaflet-marker-pane .mapsensor.alert .wind {
  color: red;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

object {
    pointer-events: none;
}

.leaflet-touch .leaflet-bar a {
  width: 38px;
}

#menucollumn {
  width: 32px;
  background-color: white;
  background-clip: padding-box;
  position: absolute;
  top: 85px;
  bottom: 10px;
  left: 10px;
  z-index: 5000;
  border: #707070 2px solid;
  border: rgba(0,0,0,0.2) 2px solid;
  border-radius: 4px;
  padding: 3px;
}
#menucollumn span {
  display: block;
  height: 32px;
  width: 32px;
  margin-bottom: 5px;
}
#menucollumn .pos {
  background-image: url("icons/placeholder.png");
}
#menucollumn .filter {
  background-image: url("icons/filter.png");
}
#menucollumn .admin {
  background-image: url("icons/admin-with-cogwheels.png");
}
#menucollumn .info {
  background-image: url("icons/information.png");
}
#menucollumn .weather {
  background-image: url("icons/storm-in.png");
}
#menucollumn .weather.ac {
  background-image: url("icons/storm-ac.png");
}
#menucollumn .suche {
  background-image: url("icons/search.png");
}

#pannels {
  position: absolute;
  top: 85px;
  left: 55px;
  bottom: 10px;
  width: 250px;
  z-index: 50000;
  background-color: white;
  background-clip: padding-box;
  border: #707070 2px solid;
  border: rgba(0,0,0,0.2) 2px solid;
  border-radius: 4px;
  display: none;
  font-size: 11px;
  font-family: Verdana;
  overflow: auto;
}
#pannels #pannels_pos {
  display: none;
}
#pannels #pannels_pos .item {
  margin: 4px;
}
#pannels #pannels_pos .item.filter {
  opacity: 0.4;
  background-color: rgba(1,1,1,0.2);
}
#pannels #pannels_pos .item .color {
  float: left;
  width: 2px;
  height: 38px;
}
#pannels #pannels_pos .item .icon {
  float: left;
  height: 38px;
  width: 40px;
  margin-right: 5px;
}
#pannels #pannels_pos .item .icon img {
    height: 40px;
    width: 40px;
    margin-left: 3px;
  }
#pannels #pannels_pos .item .line1 .name {
  font-weight: bold;
}
#pannels #pannels_pos .item .line1 .akku img {
  vertical-align: middle;
  margin-left: 5px;
}

#pannels #pannels_info {
  display: none;
  padding: 5px;
}
#pannels #pannels_info .bold {
  font-weight: bold;
}
#pannels #pannels_info .name {
  font-size: 16px;
}
#pannels #pannels_info .batt {
  margin-bottom: 10px;
}
#pannels #pannels_info .batt img {
  vertical-align: middle;
}
#pannels #pannels_info .gps {
  font-size: 20px;
}
#pannels #pannels_info .coord {
  font-family: monospace;
  font-size: 22px;
  font-weight: bold;
}
#pannels #pannels_info .lastgps {
  margin-bottom: 10px;
}
#pannels #pannels_info .update {
  margin-bottom: 10px;
}
#pannels #pannels_info .alerts {
  margin-top: 10px;
}
#pannels #pannels_info .alerts .panicitem {
  display: block;
}

#pannels #pannels_version {
  padding: 5px;
  display: none;
}
#pannels #pannels_version .versionstring {
  font-weight: bold;
}
#pannels #pannels_version .versionstring #version {
  font-weight: normal;
  font-family: monospace;
  display: inline;
}
#pannels #pannels_version .cicons {
  font-weight: bold;
}
#pannels #pannels_version .cicons ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
#pannels #pannels_version .cicons ul li {
  font-weight: normal;
}

#pannels #pannels_admin {
  padding: 5px;
  display: none;
}
#pannels #pannels_admin a {
  color: black;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}
#pannels #pannels_admin a:hover {
  text-decoration: none;
}
#pannels #pannels_admin div {
  margin-bottom: 5px;
}
#pannels #pannels_admin div .label {
  width: 70px;
  font-weight: bold;
  display: inline-block;
}
#pannels #pannels_admin div input {
  width: 150px;
}
#pannels #pannels_admin div .login input {
  width: auto;
  margin-left: 70px;
}

#pannels #pannels_weather {
  margin: 5px;
  display: none;
}
#pannels #pannels_weather h1 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
#pannels #pannels_weather .alertitem {
  padding: 5px;
  margin-bottom: 10px;
}
#pannels #pannels_weather .alertitem.minor {
  background-color: #ffeb3b;
}
#pannels #pannels_weather .alertitem.moderate {
  background-color: #fb8c00;
}
#pannels #pannels_weather .alertitem.severe {
  background-color: #e53935;
}
#pannels #pannels_weather .alertitem.extreme {
  background-color: #880e4f;
}
#pannels #pannels_weather .alertitem.hitze {
  background-color: #c9f;
}
#pannels #pannels_weather .alertitem .head {
  font-weight: bold;
  display: block;
  font-size: 14px;
}
#pannels #pannels_weather .alertitem .ort {
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
#pannels #pannels_weather .alertitem .text {
  display: block;
  margin-bottom: 10px;
}

#pannels #pannels_filter {
  margin: 5px;
  display: none;
}
#pannels #pannels_filter h1 {
  font-size: 16px;
}
#pannels #pannels_filter select {
  height: 140px;
  width: 235px;
}

#pannels #pannels_suche {
  display: none;
  padding: 5px;
}
#pannels #pannels_suche .searchtitle {
  font-weight: bold;
  font-size: 13px;
}
#pannels #pannels_suche input {
  width: 220px;
  margin-top: 5px;
}
#pannels #pannels_suche #search_results {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}
#pannels #pannels_suche #search_results .result {
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 5px;
  cursor: pointer;
}
#pannels #pannels_suche #search_results .result .text {
  display: inline-block;
  width: 200px;
}
#pannels #pannels_suche #search_results .result .text .title {
  font-weight: bold;
  display: block;
}
#pannels #pannels_suche #search_results .result .text .desc {
  display: block;
}
#pannels #pannels_suche #search_results .result .box {
  display: inline-block;
  height: 25px;
  width: 15px;
  border-style: solid;
  border-width: 2px;
  vertical-align: top;
}

#overlays #cameracount {
  position: absolute;
  top: 10px;
  left: 61px;
  z-index: 50000;
  font-size: 11px;
  font-family: "Verdana";
  padding: 3px;
  display: inline-flex;
}
#overlays #cameracount .camera {
  background-color: white;
  border: rgba(0,0,0,0.3) solid 2px;
  border-radius: 5px;
  padding: 4px;
  margin-right: 5px;
}
#overlays #cameracount .camera span {
  display: block;
  text-align: center;
}
#overlays #cameracount .camera .name {
  font-weight: bold;
}
#overlays #cameracount .camera .in::after {
  content: url("../icons/general/bullet_add.png");
}
#overlays #cameracount .camera .out::after {
  content: url("../icons/general/bullet_delete.png");
}
#overlays #cameracount .camera .total::after {
  content: url("../icons/general/bullet_star.png");
}
#overlays #crwoddensy {
  position: absolute;
  top: 10px;
  right: 90px;
  z-index: 50000;
  font-size: 11px;
  font-family: "Verdana";
  padding: 3px;
  max-width: 500px;
}
#overlays #crwoddensy .camera {
  background-color: white;
  border: rgba(0,0,0,0.3) solid 2px;
  border-radius: 5px;
  padding: 4px;
  float: right;
  max-width: 100px;
  margin-left: 5px;
}
#overlays #crwoddensy .camera span {
  display: block;
  text-align: center;
}
#overlays #crwoddensy .camera .name {
  font-weight: bold;
}
#overlays #crwoddensy .camera .count::after {
  content: url("../icons/general/bullet_star.png");
}