html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

#header {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

#menu {
  width: 200px;
  font-size: 12px;
  float: left;
}
#menu ul {
  padding-left: 20px;
}
#menu ul li a {
  color: black;
}
#menu ul li a:hover {
  text-decoration: none;
}

#content {
  margin-left: 210px;
  border-left: 1px solid black;
}
#content #nameeditor .title {
  margin-bottom: 20px;
  font-weight: bold;
}
#content #nameeditor #nametable {
  margin-left: 15px;
  border-collapse: collapse;
}
#content #nameeditor #nametable thead {
  background-color: rgba(0,0,0,0.2);
}
#content #nameeditor #nametable thead th {
  text-align: left;
}
#content #nameeditor #nametable thead .rowid {
  width: 60px;
}
#content #nameeditor #nametable thead .rowicon {
  width: 65px;
}
#content #nameeditor #nametable thead .rowedit {
  width: 50px;
}
#content #nameeditor #nametable thead .rowname {
  width: 250px;
}
#content #nameeditor #nametable tbody tr:nth-child(odd) {
  background-color: rgba(20,0,250,0.1);
}
#content #nameeditor #nametable tbody tr:nth-child(even) {
  background-color: rgba(250,59,0,0.1);
}
#content #nameeditor #nametable tbody tr:hover {
  background-color: rgba(0,0,0,0.1) !important;
}
#content #nameeditor #nametable tfoot {
  background-color: rgba(0,0,0,0.1);
}
#content #nameeditor .pointer {
  cursor: pointer;
}
#content #nameeditor #nametable tbody input.name {
  width: 55px;
}

#iconeditor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}
#iconeditor .innerbox {
  margin: 100px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  padding: 15px;
}
#iconeditor .innerbox .preview {
  float: left;
}
#iconeditor .innerbox .controls {
  margin-left: 220px;
}
#iconeditor .innerbox .save {
  clear: both;
}