/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#bigmap {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#menucollumn {
    width: 30px;
    background-color: white;
    position: absolute;
    top: 85px;
    bottom: 10px;
    left: 10px;
    z-index: 5000;
    border: rgba(0,0,0,0.5) 2px solid;
    border-radius: 4px
}

#menucollumn .pos {
    display: block;
    height: 32px;
    width: 32px;
}